<script type="text/x-handlebars" data-template-name="stages">
  <div id ='stages'>
    <div id = 'current-stage'>
      Pre-Search
    </div>

    <ul id = 'stages-nav'>
      {{#each controller}}
      <li class='pre-search nav-element'>
        {{name}}
      </li>
      {{/each}}
    </ul>
  </div>
</script>

<div id='main'>
  <script type="text/x-handlebars" data-template-name="tasks">
    <div id='tasks-pane'>
      <%- @stage.tasks.to_a.each_with_index do |task, index| %>
        <%- style = index==0 ? 'task-wrapper first' : 'task-wrapper' %>
        <div class='<%= style %>' >
          <span> <%= task.description %> </span>
        </div>
      <% end %>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="actions">
    <div id='task-detail-pane'>
      <%- @stage.tasks.first.main_actions.to_a.each do |main| %>
        <div class='main-action'>
          <%= main.description %>
        </div>
      <% end %>
    </div>
  </script>
</div>

<%= javascript_include_tag "templates/all" %>
