<div id='tasks-pane' class='span3'>
  <div class='well sidebar-nav'>
    <h3> Pre-Search </h3>
    <ul class="nav nav-list">
    {{#each}}
      {{#link-to "task" this}}
        <li> {{name}} </li>
      {{/link-to}}
    {{/each}}
    </ul>
  </div>
</div>
