$blue: #3A98D8;
$yellow: #FBB44C;
$green: #2ABB9B;
$pink:  #FC797A;
$orange:  #EF5A34;
$off-white: #faf2ee;
$white: white;

$font-stack: Helvetica, sans-serif;

ul {
  list-style-type: none;
}

.html {
  padding: 0px;
}

body {
  font: 100% $font-stack;
  margin: 0px;
  background-color: lightgreen;
}

#header {
  width: 100%;
  height: 20px;
  padding: 20px;
  background-color: $blue;
  .wrapper {
    position: relative;
    .logo {
      left: 0px;
      float: left;
    }

    .profile {
      width: 100px;
      float: right;
    }

    .logout {
      width: 100px;
      float: right;
    }
  }
}

#main {
  width: 1024px;
  margin: auto auto;
  background-color: gray;
}

