$blue: #3A98D8;
$yellow: #FBB44C;
$green: #2ABB9B;
$pink:  #FC797A;
$orange:  #EF5A34;
$off-white: #faf2ee;
$white: white;

$font-stack: Helvetica, sans-serif;

body {
  font: 100% $font-stack;
  margin: 0px;
  background-color: lightgreen;
}

#nav-links {
  float: right;
  right: 0px;
}

.notice, .alert {
  display: none;
}

.show {
  display: block;
}

#main {
  width: 1024px;
  margin: auto auto;
  background-color: gray;
}

