
//Tasks Pane
#tasks-pane {
  float: left;
  width: 280px;
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
  background-color: yellow;
  .task-wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid gray;
    &.first {
      border-top: none;
    }
  }
}

.main-action {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;  
}
